.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:  #F5F5F5;
}

.hero{
    width: 70%;
    background-color: white;
}

.slate{
    background-color: white;
    padding: 20px;
}

.toolbar {
    display: flex;
    background-color: #f0f0f0;
    border: 1px solid #d4d4d4;
    padding: 5px;
  }
  
  .tool {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    cursor: pointer;
  }
  